spring:
  application:
    name: Rookiejangter
  profiles:
    active: prod
  data:
    redis:
#      host: redis  # 백엔드를 Docker에 포함하여 실행할 때 활성화
      host: localhost  # 백엔드를 로컬로 실행할 때 활성화
      port: 6379

# log file
logging:
  file:
    path: logs

image:
  upload:
    dir: src/main/resources/images/

jwt:
  secret: "64461f01e1af406da538b9c48d801ce59142452199ff112fb5404c8e7e98e3ff"